.squash {
    height: 1px !important;
    padding:0 !important;
    margin: 0 !important;
}

.row.board {
    background: #d2edf4;
    border: 1px solid grey;
}

.board .panel .title {
    font-size: 11px;
}